<h3>Hello <%= @user.nick_name %> !!</h3>
<p>--------recommended friends ranking-------------</p>
<ol>
	<% @counter.each do | key, value |%>
 	<li><%= key %> , <%= value %></li>
	<% end %>
</ol>
<p>-----------good friends ranking----------</p>
<ol>
	<% @counter2.each do | key, value |%>
 	<li><%= key %> , <%= value %></li>
	<% end %>
</ol>