<h1>/users/new : Find Po-Yo</h1>
name = <%= @user.nick_name %><br />
uid = <%= @user.uid %>
gender = <%= @user.gender %><br />
count = <%= @user.friendships.count %><br />
# of users in database = <%= User.all.count %><br />




