<!DOCTYPE html>
<html>
  <head>
    <title>FindPuYo</title>
    <%= stylesheet_link_tag :all %>
    <%= javascript_include_tag :defaults %>
    <%= csrf_meta_tag %>
    <%= stylesheet_link_tag 'puyo_custom', :media => 'screen' %>
  </head>
  
  <body>
	<div class="container">
		<header>
			<%= link_to image_tag("logo.png", :alt => "Find Pu-Yo"), :action => :query %>
		</header>
		<section>
			<%= yield %>
		</section>
		<footer>
		  <br />
		  <%= link_to 'About', :action => :about %><br />
		  <font color="#333333" size=2>Designed by ChiaChia, smr, fit1122<br />c 2011 Find Pu-Yo. All Rights Reserved. </font>
		</footer>
	</div>
  </body>
</html>
