<h3>Hello <%= @user.nick_name %> !!</h3>

<table>
<tr>
<td width=400 class="totop">
<b>----recommended friends ranking----<br /></b>
<table>
	<tr><td>Nick name</td><td># mutual friends</td></tr>
	<% @counter.each do | key, value |%>
	<% u = User.find_by_uid(key) %>
	<tr>
	<% if u.has_profile_image == 1 %>
      <% if u.avatar == nil || u.avatar == 0 %>
	    	<% image = "http://avatars.plurk.com/" + u.uid.to_s + "-medium.gif" %>
	  	<% else %>
	    	<% image = "http://avatars.plurk.com/" + u.uid.to_s + "-medium" + u.avatar.to_s + ".gif" %>
	  	<% end %>
	<% else %>
	  	<% image = "http://www.plurk.com/static/default_medium.gif" %>
    <% end %>
	<% profile_url = "http://www.plurk.com/" + u.nick_name %>
	<td><a href="<%= profile_url %>"><img src="<%= image %>" /></a></td>
	<td rowspan="2"><%= value %></td>
  </tr>
  <tr>
    <td><a href="<%= profile_url %>"><%= u.nick_name %></a></td>
  </tr>
	<% end %>
</table>
</td>
<td width=400 class="totop">
<b>----good friends ranking----<br /></b>
<table>
	<tr><td>Nick name</td><td># mutual friends</td></tr>
	<% @counter2.each do | key, value |%>
	<% next if value < 0 %>
	<% u = User.find_by_uid(key) %>
	<% if u.has_profile_image == 1 %>
      <% if u.avatar == nil || u.avatar == 0 %>
	    	<% image = "http://avatars.plurk.com/" + u.uid.to_s + "-medium.gif" %>
	  	<% else %>
	    	<% image = "http://avatars.plurk.com/" + u.uid.to_s + "-medium" + u.avatar.to_s + ".gif" %>
	  	<% end %>
	<% else %>
	  	<% image = "http://www.plurk.com/static/default_medium.gif" %>
    <% end %>
	<% profile_url = "http://www.plurk.com/" + u.nick_name %>
	<tr>
		<td><a href="<%= profile_url %>"><img src="<%= image %>" /></a></td>
    <td rowspan="2"><%= value %></td>
  </tr>
  <tr>
    <td><a href="<%= profile_url %>"><%= u.nick_name %></a></td>
  </tr>
	<% end %>
</table>
</td>
</tr>
</table>
<br />

