<table height="340" width="520" background="/images/back.png">
	<tr>
		<td width=18%></td>
		<td><%= form_for :friends, :url => { :action => :index } do |f| %>
			<%= text_field_tag :user_name %>
			&nbsp&nbsp<%= submit_tag "Go" %><br />
			<%= radio_button_tag :gender, 2, true %><font size=3>All</font>
			<%= radio_button_tag :gender, 0 %><font size=3>Female Only</font>
			<%= radio_button_tag :gender, 1 %><font size=3>Male Only</font>
			<% end %></td>
	</tr>
	<tr height =60%>
	</tr>
</table>
<%= link_to 'Random', :action => :random %>