<%= stylesheet_link_tag 'puyo_custom', :media => 'screen' %>

Hello <%= params[:user_name] %>! <br />

<%= form_tag do %>
				<%= text_field_tag :user_name %>
			<% end %>
<%= link_to 'Find', :controller => "friends", :action => "index", :user_name => params[:user_name] %>
			
<table>
	<tr>
		<td><%= image_tag("1.png") %></td>
	</tr>
	<tr>
		<td><%= image_tag("2.png") %></td>
		<td></td>
		<td></td>
		<td><%= image_tag("3.png") %></td>
	</tr>
	<tr>
		<td><%= image_tag("4.png") %></td>
	</tr>
</table>