<font color="#333333">Random a person to be friend</font>
<br />
<table border="1" height=300>
	<% id = rand(1000000)%167324 %>
	<% u = User.find(id) %>
	<% if u.has_profile_image == 1 %>
        <% if u.avatar == nil || u.avatar == 0 %>
	    	<% image = "http://avatars.plurk.com/" + u.uid.to_s + "-medium.gif" %>
	  	<% else %>
	    	<% image = "http://avatars.plurk.com/" + u.uid.to_s + "-medium" + u.avatar.to_s + ".gif" %>
	  	<% end %>
	<% else %>
	  	<% image = "http://www.plurk.com/static/default_medium.gif" %>
    <% end %>
	<% profile_url = "http://www.plurk.com/" + u.nick_name %>
	<tr height = 20px></tr>
	<tr height = 65px>
		<td><a href="<%= profile_url %>"><img src="<%= image %>" /></a></td>
    </tr>
    <tr height = 40px>
      <td><a href="<%= profile_url %>"><%= u.nick_name %></a></td>
    </tr>
	<tr height = 175px></tr>

</table>

<br />
<%= link_to 'Home', :action => :query %>